@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background: #22272e;
    background-image: url('../img/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #adbac7;
}

a {
    text-decoration: none;
    color: #adbac7;
}

a:hover {
    color: #89ff7a;
}

header .logo a {
	background-image: url("../img/favicon.png");
	background-size: 90px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 111px;
	text-indent: -999999px;
	position: relative;
    top: -15px;
}

li:first-child {
    float: left; 
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Ubuntu';
    color: #adbac7;
    margin: 50px 0;
    text-align: right;
}

section header {
    margin-top: 0px;
    font-family: 'Ubuntu';
    font-size: 62px;
    margin-bottom: 20px;
    color: #96e2b6;
}

.home {
    margin-top: 20px;
}

ul .imglink {
    margin: 50px;
}

ul .imglink img:hover {
    filter: drop-shadow(5px 5px 4px black) brightness(80%);
}

img {
	width: 100px;
	height: 100px;
    filter: drop-shadow(5px 5px 4px black);
    border-radius: 100px;
}

ul .imglink img {
    margin: 50px;
    border-radius: 5px;
}
section {
    text-align: center;
    padding: 8%;
}

section nav {
    font-family: 'Ubuntu';
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

section .contactlinks {
    flex-direction: column;
}

section nav * {
    margin-left: 20px;
    margin-right: 20px;
}

section .contactlinks * {
    margin: 10px;
}

section .list {
    text-align: left;
    align-items: flex-start;
}

.uncolorable:hover {
    color: #adbac7;
}

#myBtn {
    position: fixed;
    display: none;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    font-family: 'Ubuntu';
    font-size: 45px;
    color: #151D21;
    background-color: #abff7a;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 6px 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    filter: drop-shadow(3px 3px 2px black);
}
  
#myBtn:hover {
    background-color: white;
    filter: drop-shadow(5px 5px 4px black);
}

#discordFrame {
    position: fixed;
    display: none;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 120px; /* Place the button 30px from the right */
}

#discord:hover iframe {
    display: block;
}

ul iframe {
    margin-left: 25px;
    margin-right: 25px;
    filter: drop-shadow(5px 5px 4px black);
}

section .mybutton {
    font-family: 'Ubuntu';
    font-size: 24px;
    color: #151D21;
    background: #abff7a;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 1px black);
}
section .mybutton:hover {
    background: white;
    filter: drop-shadow(5px 5px 4px black);
}

section .contact {
    color: #7aefff;
    align-items: left;
}
section .contact:hover {
    color: #7aefff;
    align-items: left;
}

section .contactlink {
    color: #7ad5ff;
    align-items: left;
}
section .contactlink:hover {
    color: #8cf2ff;
    align-items: left;
}

.features {
	color: gray;
	padding: 20px;
	display: flex;
    flex-direction: row;
    position: relative;
    top: -90px;
}

.features figure {
    margin: auto;
    padding: 5px;
	text-align: center;
    width: 300px;
}

.features figure img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

figure img:hover {
    filter: brightness(0.7);
}

figure figcaption {
    font-family: 'Ubuntu';
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 100px;
}

figure figcaption a:hover {
    color: gray;
}

.par {
    margin-top: 400px;
    height: 550px;
}

footer {
    font-family: 'Ubuntu';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

@media screen and (max-width: 1500px) {
    section nav {
        font-family: 'Ubuntu';
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 24px;
    }

    .features {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
    }

    .features figure img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }    

    figure figcaption {
        font-family: 'Ubuntu';
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 100px;
    }

    ul .imglink {
        margin: 40px;
    }

    ul .imglink img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 1140px) {
    section nav {
        font-family: 'Ubuntu';
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 24px;
    }

    .features {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
    }

    .features figure img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }    

    figure figcaption {
        font-family: 'Ubuntu';
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 100px;
    }

    ul .imglink {
        margin: 30px;
    }

    ul .imglink img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 760px) {
    .features {
        display: block;
    }

    li {
        font-size: 14px;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 36px;
    }

    footer {
        font-size: 10px;
    }
    header .logo a {
        height: 50px;
	    width: 60px;
        background-size: 50px;
    }

    ul .imglink {
        margin: 20px;
    }

    ul .imglink img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    li {
        font-size: 12px;
    }

    section nav {
        font-size: 14px;
        line-height: 26px;
    }

    section .mybutton {
        font-size: 12px;
    }

    section .mybutton:hover {
        background: white;
        font-size: 14px;
        margin-top: 29px;
    }

    ul .imglink {
        margin: 20px;
    }

    ul .imglink img {
        width: 30px;
        height: 30px;
    }
}
